.DS_Store
.lock-wscript
.svn/
*.bak
*~
node_modules
!tests/fixtures/packages/node_modules
!tests/fixtures/packages/node_modules/*/node_modules
arrowreport
artifacts
flatfile
test_descriptor-report.json
test_descriptor-report.xml
