.DS_Store
node_modules
!tests/fixtures/packages/node_modules
!tests/fixtures/packages/node_modules/*/node_modules
artifacts
arrowreport
flatfile
.*.swp
*~
.svn
test_descriptor-report.json
test_descriptor-report.xml
