<div id="{{mojit_view_id}}" class="mojit">
    <div class="mod" id="blog">
        {{> widget_heading}}
        <div class="inner">
            {{#each results}}
                <ul> 
                    <li>
                       {{{linker title link}}} 
                        <span class="desc" title="AUTHOR: [ {{creator}} ] DESC: {{description}} DATE: ( {{pubDate}} )">{{description}}</span>
                    </li>
                
                </ul>
          {{else}}
               <span class="none">Sorry, no results were returned. Try refreshing the page again.</span> 
          {{/each}}
        </div>
    </div>
</div>
