<div id="{{mojit_view_id}}" class="mojit">
  <h3>{{title}}</h3>
<div id="horizontal-menu" class="yui3-menu yui3-menu-open yui3-menu-horizontal yui3-menu-fixed">
    <ul id="std-menu-items" class="yui3-menu-light">
        <li class="yui3-menu-active"><a href="#">Trib</a></li>
        <li><a href="#">Stats</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Share</a></li>
        <li>
            <a href="#">Config</a>
            <ul>
                <li class="yui3-menu-heading">Settings</li>
                <li class="yui3-menu-separator"></li>
                <li><a href="#">Theme</a></li>
                <li><a href="#">User</a></li>
                <li><a href="#">Project</a></li>
                <li>
                    <a href="#">Even More</a>
                    <ul>
                        <li><a href="#">SubItem 1</a></li>
                        <li><a href="#">SubItem 2</a></li>
                        <li><a href="#">SubItem 3</a></li>
                        <li><a href="#">SubItem 4</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
 
<script>
    var Y = YUI({
        gallery: 'gallery-2013.02.07-15-27',
        fetchCSS: false
    }).use('gallery-sm-menu', 'event-tap', 'node-base', 'template-micro', function (Y) {

        var horizontalMenu = new Y.Menu({
            container: '#horizontal-menu',
            sourceNode: '#std-menu-items',
            orientation: 'horizontal',
            hideOnOutsideClick: false
        });

        horizontalMenu.render();
        horizontalMenu.show();
        Y.one("#horizontal-menu ul").addClass("yui3-menu-light");




    });

</script>





</div>



