div.speaker {
    border: solid black 2px;
    border-radius: 20px;
    padding: 20px;
    margin: 4px;
    width: 44%;
}

div.speaker img {
    height: 100px;
    float: right;
}

.highlighted {
    background-color: #ccffff;
}