<div id="{{mojit_view_id}}" class="mojit">
  <h4 class="bodytext">{{title}}</h4>

<!--

<form>
  <fieldset>
    <legend>Legend</legend>
 
    <div class='yui3-g-r'>
        <div class='yui3-u-1-3'>
            <label>
              First Name
              
            </label>
            <input type="text">
        </div>
        <div class='yui3-u-1-3'>
            <label>
              Last Name
            </label>
                          <input type="text">

        </div>
        <div class='yui3-u-1-3'>
            <label>
              E-Mail
              
            </label><input type="email" required>
        </div>
        
        <div class='yui3-u-1-3'>
            <label>
              City
              
            </label><input type="text">
        </div>
 
        <div class='yui3-u-1-3'>
            <label>
              State
 
            </label>
            <select class='yui3-input-medium'>
                <option>AL</option>
                <option>CA</option>
                <option>IL</option>
                <option>MD</option>
                <option>NY</option>
              </select>
        </div>
    </div>
    <label class="yui3-checkbox">
      <input type="checkbox"> I've read the terms and conditions
    </label>
    <button type="submit" class='yui3-button'>Submit</button>
  </fieldset>
</form>
-->
  <div class="bodyMojitStuff">
    {{{github}}}
  <div>

</div>